table.stable{
  width:100%;
  align: center;
}

td.underline{
  border-bottom: 1px solid white;
}

input.frmInput{
  margin:5px;
}

span.fieldName{
  display:flex;
  align-items: center;
}

.fieldName > input:nth-child(1){ flex-grow: 5; }
.fieldName > div:nth-child(2){ flex-grow: 1; }


div.inlineDisplay{
  display: inline;
}

.tdRight{
  display: flex;
  justify-content: flex-end;
}